@import 'layout';

/* Dropdown Button */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  @extend .page-link;
  font-size: 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: $blue-color;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
  z-index: 1;
}

.dropdown-content ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.dropdown-content a {
  color: $white-color;
  line-height: $base-line-height;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 4px;
  padding-right: 8px;
  white-space: nowrap;

  &:not(:first-child) {
    border-top: 1px solid $grey-color-light;
  }
}

/* Show the Dropdown Menu on Hover */
.dropdown:hover .dropdown-content {
  display: block;
}
